//  Базовые стили

html {
    box-sizing: border-box;
    font-size: $fontSize;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $bodyBg;
    color: $textColor;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: 1rem;
    line-height: $lineHeight;
    height: 100%;
}

a {
    color: $linkColor;
    text-decoration: none;
    line-height: 1;

    &:hover,
    &:active {
        color: $linkColorHover;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    //background-image: url('~@img/webpack.png');
}

.content {
    flex: 1 0 auto;
}

.page-container {
    max-width: $containerWidth;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
}

.icon {
    display: inline-block;
}

ul {
    padding-left: 0;

    li {
        list-style: none;
    }
}

.position-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-0 {
    margin: 0;
}

.w-100 {
    width: 100%;
}
