//  Подключения шрифтов

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src:  local('Roboto'), local('Roboto-Regular');
    src:  url('~@fonts/Roboto-Regular.eot');
    src:  url('~@fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Roboto-Regular.woff') format('woff'),
        url('~@fonts/Roboto-Regular.ttf') format('truetype'),
        url('~@fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'Roboto';
// font-weight: 700;
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src:  local('Roboto'), local('Roboto-Bold');
    src:  url('~@fonts/Roboto-Bold.eot');
    src:  url('~@fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Roboto-Bold.woff') format('woff'),
        url('~@fonts/Roboto-Bold.ttf') format('truetype'),
        url('~@fonts/Roboto-Bold.svg#Roboto-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    src:  local('OpenSans'), local('OpenSans-Regular');
    src:  url('~@fonts/OpenSans-Regular.eot');
    src:  url('~@fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/OpenSans-Regular.woff') format('woff'),
        url('~@fonts/OpenSans-Regular.ttf') format('truetype'),
        url('~@fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'YesevaOne';
    font-weight: normal;
    src:  local('YesevaOne'), local('YesevaOne-Regular');
    src:  url('~@fonts/YesevaOne-Regular.eot');
    src:  url('~@fonts/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/YesevaOne-Regular.woff') format('woff'),
        url('~@fonts/YesevaOne-Regular.ttf') format('truetype'),
        url('~@fonts/YesevaOne-Regular.svg#YesevaOne-Regular') format('svg');
    font-display: swap;
}

// Заголовки

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontYeseva;
    color: $darkColor;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}
