//  Цвет

$bodyBg: #fff;
$textColor: #686378;
$darkColor: #0a0a0a;
$primaryColor: #007fc7;
$successColor: #b8ff21;
$dangerColor: #e73c3e;

// Цвет ссылки

$linkColor: #000;
$linkColorHover: darken($linkColor, 20%);

//  Типографика

$fontFamily: 'OpenSans', Helvetica, Arial, sans-serif;
$fontYeseva: 'YesevaOne', Helvetica, Arial, sans-serif;
$fontRoboto: 'Roboto', Helvetica, Arial, sans-serif;

$fontSize: 10px;
$fontWeight: 400;
$lineHeight: 1.714;

// Ширина контейнера

$containerPadding: 15px;
$containerWidth: 1128px + $containerPadding * 2;

//  Адаптивность и соответствующие ширины контейнера

$screen-xs: 375;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
