.footer {
    border-top: 1px solid #cbc7e5;
    border-radius: 24px;
    position: relative;
    flex: 0 0 auto;
    padding: 40px 0 63px;

    &__menu {
        max-width: 350px;
        width: 31%;
    }

    &__socials {
        margin-top: -45px;
        padding-right: 8px;
        a {
            margin: 0 12px;
        }
    }

    &__list {
        columns: 160px 2;
        margin: -16px 0;
        a {
            display: inline-block;
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1;
            margin: 16px 0;
        }
    }

    &__content {
        max-width: 384px;
        width: 34%;

        h2,
        h3,
        h4,
        h5 {
            font-size: 2.4rem;
            line-height: 1;
            margin: 0 0 40px
        }

        p {
            font-size: 1.8rem;
            line-height: 1.5;
        }
    }

    &__btn-wrap {
        max-width: 210px;
        padding-top: 63px;
        width: 18.7%;
    }
}
