.hero {
    background-repeat: no-repeat;
    background-position: right center;
    overflow: hidden;

    &__wrap {
        display: grid;
        grid-template-columns: minmax(auto, 60%) minmax(auto, 40%);
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 605px;
        width: 42%;
        z-index: 2;
    }

    &__title {
        max-width: 653px;
        > * {
            color: inherit;
            line-height: 1.4;
            margin: 0 0 24px;

            span {
                border-bottom: 5px solid $successColor;
            }
        }
    }

    &__content {
        max-width: 456px;
        > * {
            font-size: 1.286rem;
            line-height: 1.39;

            &:last-child {
                margin: 0 0 64px;
            }
        }
    }

    &__btn-wrap {
        .btn {
            z-index: 2;
        }

        .outline {
            border-radius: 12px;
            content: '';
            display: block;
            position: absolute;
            left: -10px;
            top: 10px;
            max-width: 200px;
            width: 100%;
            height: 100%;
            border: 1px solid #004e8a;
            z-index: 1;

            &::before,
            &::after {
                background-color: #004e8a;
                content: '';
                position: absolute;

            }

            &::before {
                top: 47px;
                left: 50%;
                transform: translateX(-50%);
                height: 200px;
                width: 1px;
            }

            &::after {
                top: 50%;
                left: 104px;
                height: 1px;
                width: 1200px;
            }
        }
    }
}
