// Кнопки

.btn {
    background: none;
    background-color: $primaryColor;
    border-radius: 12px;
    font-family: $fontRoboto;
    font-size: 1.143rem;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 16px 29px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;

    &--transparent {
        border: 2px solid $primaryColor;
        background-color: #fff;
        color: $primaryColor;

        &:hover {
            background-color: $primaryColor;
            color: #fff;
        }
    }

    &--xl {
        padding: 20px 25px;
        font-size: 1.286rem;
    }

    &--success {
        background-color: $successColor;
        color: #04044a;
    }
}
